ul {
    display: block;
    list-style: none;
    margin: 20px;
    padding: 20px;
}

ul li {
    display:inline;
    float: right;

}

#socialmedia {
    position: fixed;
    right: 0;
    width: 64px;
}