<div id="formSection">
    <div id="form-div"  class="hide">
        <p class="contact_form_header">Contact us!</p>
        <form class="form" id="form1" method="post" action="http://jfdd.infoshareaca.nazwa.pl/mailer.php">
            <!--Accept small and capital letters (including Polish diacritics),
            spaces and hyphens (for hyphenated surnames):-->
            <p class="name">
                <input name="name" type="text" autocomplete="off" class="feedback-input" placeholder="Your full name" id="name" maxlength="150"
                       pattern="[A-Za-ząćęłńóśźżĄĆĘŁŃÓŚŹŻ -]+"/>
            </p>
            <!--Use standard HTML5 validation:-->
            <p class="email">
                <input name="email" type="email" autocomplete="off" class="feedback-input" id="email" placeholder="Your E-mail" maxlength="50" />
            </p>
            <!--Accept Polish phone numbers, optionally with the area code of +48,
            with optional spaces and/or hyphens between digits:-->
            <p class="text">
                <input name="phoneNumber" type="tel" autocomplete="off"  class="feedback-input" id="phone" placeholder="Your phone" maxlength="20"
                       pattern="^(\+48)? ?[1-9]( |-)?\d( |-)?\d( |-)?\d( |-)?\d( |-)?\d( |-)?\d( |-)?\d( |-)?\d( |-)?"/>
            </p>
            <!--<input type="hidden" name="receiver" value="wojciech.makurat@infoshareacademy.com">-->
            <input type="hidden" name="receiver" value="wojciech.makurat@example.com">
            <input type="text" id="formField" placeholder="Leave this field blank.">
            <div class="submit">
                <input type="submit" value="SUBMIT" id="button-gray"/>
                <div class="ease"></div>
            </div>
        </form>
    </div>
</div>