.clear {
    clear: both;
}

.naglowek-witryny {

}

.naglowek-witryny .navigation_bar {
    background-color: rgba(255,255,255,0.9);
}

.naglowek-witryny .navigation_bar ul {
    list-style: none;
    float: right;
}

.naglowek-witryny .navigation_bar ul li {
    display:inline;
    padding: 20px;
}

.naglowek-witryny .navigation_bar ul a {
    text-decoration: none;
    color: black;
}

.naglowek-witryny .logo {
    float: left;
}








.intro {
    background-image: url("../images/foto_background1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    font-size: 70px;
    height: 500px;
    margin-top: 100px;
}

.intro p {
    padding-top: 400px;
    color:rgba(255,255,255,0.9);
}

#socialmedia {
    position: fixed;
    right: 0;
    top: 50%;
    width: 64px;
    margin-top: -102px;
}

body {
    font-family: sans-serif;
}
