.clear {
    clear: both;
}

@font-face {
    font-family: Jura;
    src:url(fonts/Jura-Medium.ttf);
}

body  {
    margin:0;
    padding:0;
    font-family: Jura, sans-serif;
    font-size:130%;
}


.navigationBar {
    height: 100px;
    -webkit-box-shadow: 0 31px 40px 8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 31px 40px 8px rgba(0,0,0,0.75);
    box-shadow: 0px 31px 40px 8px rgba(0,0,0,0.75);
    Z-index: 2;
    position: relative;
    background-color: white;
}

.navigationBar  nav  ul {
    margin-top: 20px;
    margin-right: 20px;
    float: right;
    font-size: 17px;
}

.navigationBar nav ul li {
    display:inline-block;
    padding: 20px;
}

.navigationBar nav ul a {
    text-decoration: none;
    color: rgba(16, 16, 16, 0.9);
    position: relative;
    padding-bottom: 10px;
    font-size: 23px;
}

.navigationBar nav ul a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    border-bottom: 2px solid rgba(16, 16, 16, 0.1);
    transition: 0.4s;
}

.navigationBar nav ul a:hover:after {
    width: 100%;
}

.logo {
    height: 90px;
    margin-left: 20px;
    margin-top: 5px;
    opacity: 0.8;
}

.logo:hover {
    opacity:1;
}


.more_info_button {
    margin-left:auto;
    margin-right:auto;
    margin-top: 25vh;
    background-color: rgba(250, 250, 250, 0.5);
    width: 220px;
    height: 80px;
    border: 2px solid #0f1214;
    border-radius: 7px;
}


.more_info_button a{
    color: #0f1214;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 3px;
}

.more_info_button:hover {
    text-decoration: none;
    background-color: rgba(250,250,250,0.2);
    -webkit-transition: background-color 1000ms ease-out;
    -moz-transition: background-color 1000ms ease-out;
    -o-transition: background-color 1000ms ease-out;
    transition: background-color 1000ms ease-out;
}


.intro {
    background: url("../images/foto_background1.jpg");
    background-repeat: no-repeat;
    height:85vh;
    background-size: 2000px;
    background-position: center top;
    /*-webkit-box-shadow: inset 0 -31px 40px -5px rgba(43,39,34,0.60);*/
    /*-moz-box-shadow: inset 0 -31px 40px -5px rgba(43,39,34,0.60);*/
    /*box-shadow: inset 0 -31px 40px -5px rgba(43,39,34,0.60);*/
}

.introText {
    -moz-animation-name: dropIntro;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 0.8s;

    -webkit-animation-name: dropIntro;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 0.8s;

    animation-name: dropIntro;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.8s;

    margin-top: 15vh;
    background-color: rgba(255,255,255,0.4);
    color: black;
    letter-spacing: 3px;
    text-align: center;
    position: relative;
    margin-bottom: 0;
    padding-bottom: 20px;
    padding-top: 20px;
}

@-moz-keyframes dropIntro {
    0% {
        -moz-transform: translateY(40px);
    }
    100% {
        -moz-transform: translateY(0);
    }
}
@-webkit-keyframes dropIntro {
    0% {
        -webkit-transform: translateY(40px);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}
@keyframes dropIntro {
    0% {
        transform: translateY(40px);
    }
    100% {
        transform: translateY(0);
    }
}

.introText p {
    letter-spacing: 4px;
    margin-top: 20px;
}

main {
    background-color: white;
    line-height: 1.7;
    position: relative;
}


#socialmedia {
    position: fixed;
    right: -52px;
    top: 50%;
    margin-top: -102px;
    z-index: 100;
}

#socialmedia .social-button {
    width: 64px;
    height: 64px;
    margin-top: 3px;
    display: block;
    background-size: 64px 64px;
    border-radius: 3px;
    background: no-repeat center center;
    transition: margin-left 0.3s ease;
}

#socialmedia .social-button-facebook {
    background-image: url('../images/icon-socialmedia-facebook.png');
    background-color: #3B5998;
}

#socialmedia .social-button-googleplus {
    background-image: url('../images/icon-socialmedia-google-plus.png');
    background-color: #E02F2F;
}

#socialmedia .social-button-twitter {
    background-image: url('../images/icon-socialmedia-twitter.png');
    background-color: #55ACEE;
}

#socialmedia .social-button:hover {
    margin-left: -52px;
}

/* Functions */
#functionsSection {
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}
.function {
    opacity:0.8;
    text-align: center;
}
.function:hover {
    opacity: 1.0;
}
.function1 {
    float: left;
}
.function2, .function3 {
    float: left;
    margin-left: 70px;
}
.function p {
    font-size: smaller;
}
/* end Functions */

/**
* Contact form styles
*/

.contact_form_header {
    text-align: center;
    font-size: 30px;
}

#form-main{
    width:500px;
    margin-right: auto;
    margin-left: auto;
}

#form-div {
    background-color:rgba(120,120,120,0.4) ;
    padding-left:35px;
    padding-right:35px;
    padding-bottom:50px;
    width: 450px;
    float: left;
    left: 50%;
    margin-top:30px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.feedback-input {
    color:darkgrey;
    font-family: Jura, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fbfbfb;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
    background: #fff;
    box-shadow: 0;
    border: 3px solid #282828;
    color: #282828;
    outline: none;
    padding: 13px 13px 13px 54px;
}

.focused{
    color:#30aed6;
    border:#30aed6 solid 3px;
}

#formField {
    position: absolute;
    visibility: hidden;
}

/* Icons ---------------------------------- */
#name{
    background-image: url("../images/1450052825_icon-ios7-person.svg");
    background-size: 30px 30px;
    background-position: 11px 8px; /**/
    background-repeat: no-repeat;
}

#name:focus{
    background-image: url("../images/1450052825_icon-ios7-person.svg");
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#email{
    background-image: url("../images/1450072401_Mail.svg");
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#email:focus{
    background-image: url("../images/1450072401_Mail.svg");
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#phone{
    background-image: url("../images/1450052574_phone.svg");
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

input:hover,
input:focus {
    background-color:white;
}

#button-gray{
    font-family: Jura, sans-serif;
    float:left; /**/
    width: 100%; /**/
    border: #282828 solid 4px;
    cursor:pointer; /* check*/
    background-color: #282828;
    color:white;
    font-size:24px;
    padding-top:22px;
    padding-bottom:22px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}

#button-gray:hover{
    background-color: rgba(0,0,0,0);
    color: #282828;
}

.ease {
    width: 0;
    height: 72px;
    background-color: #fbfbfb;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    -ms-transition: .3s ease;
    transition: .3s ease;
}

.submit:hover .ease{
    width:100%;
    background-color:white;
}

@media only screen and (max-width: 580px) {
    #form-div{
        left: 3%;
        margin-right: 3%;
        width: 88%;
        margin-left: 0;
        padding-left: 3%;
        padding-right: 3%;
    }
}

/*
* end of contact form styles
*/


.footer_style {
    margin-top: 60px;
    padding-top: 10px;
    height: 120px;
    background-color: #282828;
    border-bottom: solid 10px #0f1214;
}

.footer_image {
    height: 10px;
    text-align: center;
    padding-bottom: 5px;
}

.footer_image img {
    height: 80px;
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);
    -o-filter: invert(100%);
    -ms-filter: invert(100%);
}

.footer_style p{
    padding-top: 50px;
    text-align: center;
    color: white;
    letter-spacing: 4px;
    font-size: 15px;
    font-weight: normal;
}

footer span {
    font-family: Arial sans-serif;
}

/* New paragraph for testers */
.testersParagraph {
    height: 100px;
    /*font-family: Michroma, sans-serif;*/
    padding-top:50px;
    text-align: center;
    margin-bottom: 0;
}
.testersParagraph hr {
    width: 684px;
}
/* end New paragraph tor testers */

.validationTip {
    font-size: small;
    font-style: italic;
    color: red;
}
